@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Ubuntu&display=swap');
/*Configurações gerais*/
*{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    box-sizing: border-box;
}
nav, ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}


/*Header*/
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 1px 1px 10px black;
}

header ul{
    display: flex;
    padding: 5px;
}

header nav{
    color: black;
    font-family: 'Roboto', sans-serif;
}

header h1{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 1.8rem;
}

header li{
    margin: 0px 15px;
}

header li:first-child{
    margin-left: 0px;
}

header li:last-child{
    margin-right: 0px;
}
/*FIM HEADER*/
/*HERO*/
.hero{
    background-image: url("https://media-manager.noticiasaominuto.com.br/1920/naom_563f33b007aaf.jpg");
    background-size: cover;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 0px;
}

.hero h3{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.2rem;
}

.hero .btn{
    background-color: white;
    border-radius: 3px;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}
/*FIM HERO*/
/*INICIO FOTINHOS*/
.fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #363636;
    color: white;
}

.fotos h3{
    font-size: 2rem;
    margin-bottom: 35px;
}

.fotos p{
    font-size: 1rem;
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}

.fotos hr{
    width: 200px;
    height: 2px;
    background-color: black;
    border: none;
}

.fotos .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fotos .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    position: center;
}

.fotos .grid li.small{
    flex-basis: 40%;
}

.fotos .grid li.large{
    flex-basis: 60%;
}
/*FIM DAS FOTINHAS*/
/*INICIO FOOTER*/
footer{
    display: flex;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
    filter: brightness(0%);
}

footer ul li{
    margin-right: 10px;
}

footer ul li a{
    font-size: 2rem;
}

footer p{
    margin-bottom: 10px;
}
/*FIM FOOTER*/
/*RESPONSIVIDADE*/
@media(max-width: 700px){
    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .hero{
        display: flex;
    }

    .hero h1{
        text-align: center;
        font-size: 2rem;
        margin: 5px;
        color: white;
        text-shadow: 1px 2px 4px black;
    }

    .hero h3{
        text-align: center;
        margin-top: 15px;
        font-size: 1.2rem;
        margin: 5px;
        color: white;
        text-shadow: 1px 2px 4px black;
    }

    .hero .btn{
        margin-top: 10px;
    }

    .fotos{
        text-align: center;
    }
    
    .fotos .grid li.small{
        flex-basis: 100%;
    }

    .fotos .grid li.large{
        flex-basis: 100%;
    }
    
}
